@charset "utf-8";

body{ margin: 0; padding: 50px; background-color: #222; color: white;}
p { margin: 0; }
.hide { position : absolute; top:0; left:-999999px}


.box{ margin: 0 auto; border: 1px solid white;}
.box-top{ display: flex;}
.box-top .b-right { padding: 10px; width: 40%; }
.box-top .b-left { padding: 10px 15px; width: 60%; }
.box-top .b-left button {float: right; padding: 5px 10px; background: transparent; border: 1px solid white; color: white; }

[data-snake-table]{ display: block; position:relative; margin: 0 auto; height:100%; background-color:#161c24; }
[data-snake-snake]{ position:absolute; width: 30px; height: 30px; z-index: 2; background-color: #536720; } 
[data-apple]{ position:absolute; width: 30px; height: 30px;  z-index: 1; background-color: #5E2067; }